body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure full viewport height */
}

header {
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

nav ul li a:hover {
    text-decoration: underline;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    flex-grow: 1; /* Allow main content to grow */
}

.box {
    display: inline-block;
    width: 30%;
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #003366;
}

footer {
    background-color: #003366;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Push footer to bottom */
}
